/gui/build
/hdf5/build
/gui/gui/gui.pro.user
/hdf5/hdf5/hdf5.pro.user
/gui/gui/icons/icons.psd
/k-wave-h5-processing/build
/k-wave-h5-processing/k-wave-h5-processing/k-wave-h5-processing.pro.user
/k-wave-h5-processing/k-wave-h5-processing/build
/gui/gui/icons/cube.skb
/gui/gui/icons/cube.skp
/src.zip
/cv.pdf
/k-wave-h5-processing/k-wave-h5-processing/main/main.pro.user
/build
/hdf5file/hdf5file.pro.user
/k-wave-h5-processing/k-wave-h5-processing.pro.user
/gui/gui.pro.user
/opencv_paths.pri
/hdf5file_paths.pri
/hdf5_paths.pri
