/gui/build
/hdf5/build
/gui/gui/gui.pro.user
/hdf5/hdf5/hdf5.pro.user
/gui/gui/icons/icons.psd
/k-wave-h5-processing/build
/k-wave-h5-processing/k-wave-h5-processing/k-wave-h5-processing.pro.user
/k-wave-h5-processing/k-wave-h5-processing/build
